[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "==0.4.4"
whitenoise = "==3.3.1"
django-model-utils = "==3.1.1"
django-extensions = "==2.0.0"
awesome-slugify = "==1.6.5"
pytz = "==2018.3"
django-redis = "==4.9.0"
redis = ">=2.10.6"
celery = "==4.1.0"
djangorestframework = "==3.7.7"
slacker = "==0.9.60"
graphene-django = "==2.0.0"
django-cors-headers = "==2.2.0"
djangorestframework-camel-case = "==0.2.0"
wagtail = "==2.0"
"beautifulsoup4" = "==4.6.0"
requests = "==2.18.4"
fuzzywuzzy = {extras = ["speedup"], version = "==0.16.0"}
"mailchimp3" = "==2.1.0"
arrow = "==0.12.1"
djangorestframework-jwt = "==1.11.0"
"boto3" = "==1.6.2"
django-filter = "*"
Django = "==2.0.2"
Pillow = "==4.3.0"
"argon2_cffi" = "==18.1.0"
PyJWT = "==1.5.3"
gevent="==1.2.2"
gunicorn="==19.7.1"
django-storages="==1.6.5"
django-anymail="==1.2"
raven="==6.3.0"
"psycopg2-binary" = "*"

[dev-packages]
"flake8"="*"
django-test-plus="*"
pytest-django="*"
pytest-sugar="*"
django-coverage-plugin="*"
Sphinx="*"
Werkzeug="*"
factory-boy="*"
django-debug-toolbar="*"
ipdb="*"
coverage = "*"

[requires]
python_version = "3.6"
