[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
whitenoise = "*"
django-model-utils = "*"
django-extensions = "*"
awesome-slugify = "*"
pytz = "*"
django-redis = "*"
redis = "*"
celery = "*"
djangorestframework = "*"
slacker = "*"
graphene-django = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
wagtail = "*"
"beautifulsoup4" = "==4.6.0"
requests = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
"mailchimp3" = "*"
arrow = "*"
djangorestframework-jwt = "*"
"boto3" = "*"
django-filter = "*"
Django = "*"
Pillow = "*"
"argon2_cffi" = "*"
PyJWT = "*"
gevent="*"
gunicorn="*"
django-storages="*"
django-anymail="*"
raven="*"
"psycopg2-binary" = "*"
colorama = "*"
django-treebeard = "*"
wagtailmenus = "*"
markdown = "*"
djangorestframework-filters = "*"

[dev-packages]
"flake8"="*"
django-test-plus="*"
pytest-django="*"
pytest-sugar="*"
django-coverage-plugin="*"
Sphinx="*"
Werkzeug="*"
factory-boy="*"
django-debug-toolbar="*"
ipdb="*"
coverage = "*"

[requires]
python_version = "3.7.1"

[pipenv]
allow_prereleases = true
