<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block page_title %} {% endblock %} | Falmer</title>
  <link href="https://du9l8eemj97rm.cloudfront.net/union.9dfcc2457606ec7e09d519984f6934b8.productionFonts.css" rel="stylesheet" />
  <link href="https://du9l8eemj97rm.cloudfront.net/union.00ab475e2033adb1091698c35ff3064a.main.css" rel="stylesheet" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="Body">
<div class="Site" style="padding-top: 1.5rem">
  <div class="Container">
    {% block content %} {% endblock %}
  </div>
</div>
</body>
</html>
