{% extends 'base.html' %}
{% block page_title %}Falmer{% endblock %}

{% block content %}

<h1>Hello there!</h1>
<h2>{{user.identifier}}</h2>

<p>Here is what you can do:</p>

<ul>
    <li>CMS
        {% if perms.wagtailadmin.access_admin %}
        <a class="Button" href="/cms">Open</a>
        {% else %}
        <a class="Button" href="/request-access/cms">Request access</a>
        {% endif %}
    </a></li>
</ul>
<div>
    <a class="Button" href="{% url 'auth-logout' %}">Log out</a>
    </div>
{% endblock %}
